*{
  background-color:  whitesmoke;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  


}

footer{
  text-align: center;
  font-size: 18px;
}

.page-section-about-me, .page-section-task-2, .page-section-task-4{
  text-align: center;
  font-size: 20px;
  
}

.site-header{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.page-section-summary, .page-content-task{
  text-align:initial;
  font-size: 20px;
  margin: 10px;
}

.center {
  display: block;
  margin:auto;
  border-radius: 50%;
}

p {
  line-height: 1.4;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;
  background: #CDFEAA;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}


.web-page-title {
  font-size: 25px;
}

.stage-1, .stage-2, .stage-3, .stage-4{

  font-size: 20px;

}


@media (min-width: 600px){
  .page-content-about-me{
    columns:2;
  }
}

@media (min-width: 900px){
  .page-content-about-me{
    columns:3;

  }
}

h2{
  text-align: center;
}
